#categories {
    position: relative;
    left: 30px;
    font-size: 5vh;
    top: 9vh;
}

#products {
    width: 80vw;
    position: absolute;
    left: 18vw;
    top: 13vh;
}

#filter {

}

.container{
    margin: 0;
    padding: 0;
}