$h1-font-size: 60px;
$h2-font-size: 50px;
$h3-font-size: 42px;
$h4-font-size: 30px;
$h5-font-size: 24px;
$h6-font-size: 20px;
$border-width: 0.5px;
$primary: gray;
$border-radius: 5%;
$bg: #5c5757;

$card-spacer-y:                     10px;
$card-spacer-x:                     10px;
$card-title-spacer-y:               10%;
$card-border-width:                 $border-width !default;
$card-border-radius:                $border-radius !default;
$card-border-color:                 #ffffff;
$card-color:                        black !default;
$card-bg:                           rgb(202, 193, 193) ;


@import "./custom-bootstrap/custom.scss";

b {
    font-weight: 500;
}